mat-drawer-container {
  height: 100%;

  background-image: url('/assets/images/circle-animation.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

mat-drawer {
  overflow: auto;
  width: 240px;
}

.container {
  max-width: 1024px;
}
