<h2>Faucet</h2>
<form #formRef="ngForm" (submit)="onPostFaucetRequested(addressRef.value, amounts)">
  <div fxLayout="column">
    <mat-form-field appearance="fill">
      <mat-label>Address</mat-label>
      <input matNativeControl #addressRef name="address" ngModel [value]="address" required />
    </mat-form-field>

    <ng-container *ngFor="let amount of amounts; let i = index">
      <mat-form-field appearance="fill">
        <mat-label>Amount({{ amount.denom }})</mat-label>
        <input matNativeControl [(ngModel)]="amounts[i].amount" name="{{ amount.denom }}" [min]="0"
          [max]="creditAmount ? creditAmount : 0" required />
        <span matSuffix>{{ amount.denom }}</span>
      </mat-form-field>
    </ng-container>
    <button mat-flat-button color="accent" [disabled]="formRef.invalid">Claim</button>
  </div>
</form>
