<div class="heading" fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="50%" fxFlex.lt-md="75%" style="z-index: 100">
    <h2>Stable coin on blockchain interoperability network</h2>
    <h3>Get rewards by being validators</h3>
    <button mat-flat-button color="primary" routerLink="apply-validator">
      To be a validator
    </button>
  </div>
</div>
<div class="section">
  <h2>JPYX Blockchain</h2>
  <div
    fxLayout="row wrap"
    fxFlex="50%"
    fxFlex.xs="100%"
    fxLayoutGap="16px grid"
  >
    <div>
      <mat-card>
        <mat-card-header>
          <img mat-card-avatar src="assets/images/jasmine.svg" />
          <mat-card-title>Jasmine</mat-card-title>
          <mat-card-subtitle>$JSMN</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
    <div>
      <mat-card>
        <mat-card-header>
          <img mat-card-avatar src="assets/images/jpyx.svg" />
          <mat-card-title>JPYX</mat-card-title>
          <mat-card-subtitle>$JPYX</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</div>
<div class="section">
  <h2>EURX Blockchain</h2>
  <div
    fxLayout="row wrap"
    fxFlex="50%"
    fxFlex.xs="100%"
    fxLayoutGap="16px grid"
  >
    <div>
      <mat-card>
        <mat-card-header>
          <img mat-card-avatar src="assets/images/eustoma.svg" />
          <mat-card-title>Eustoma</mat-card-title>
          <mat-card-subtitle>$ESTM</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
    <div>
      <mat-card>
        <mat-card-header>
          <img mat-card-avatar src="assets/images/eurx.svg" />
          <mat-card-title>EURX</mat-card-title>
          <mat-card-subtitle>$EURX</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</div>

<div class="section">
  <h2>Jasmine ($JSMN), Eustoma ($ESTM) token distribution</h2>
  <p>
    We absolutely do not do initial coin offerings or token sales. Every token
    will be distributed in return of your actions like being a validator.
  </p>
  <table class="table">
    <tr>
      <th>Usage</th>
      <th>Percentage of usage / supply</th>
    </tr>
    <tr>
      <td>Donation for Kava team</td>
      <td>1%</td>
    </tr>
    <tr>
      <td>Rewards for open source commitment to JPYX, EURX project</td>
      <td>9%</td>
    </tr>
    <tr>
      <td>Assignment for development team</td>
      <td>30%</td>
    </tr>
    <tr>
      <td>Assignment for validators</td>
      <td>30%</td>
    </tr>
    <tr>
      <td>Assignment for business partners</td>
      <td>30%</td>
    </tr>
  </table>
</div>

<div class="section">
  <h2>Validators recruitment</h2>
  <p>
    We are taking applications for being a validator of JPYX, EURX. The end of
    this taking applications will be announced later.
  </p>
  <p>
    If you are elected as a validator after applied, you will be assigned some
    Jasmine ($JSMN), Eustoma ($ESTM) tokens.
  </p>
  <div fxLayout="row-reverse">
    <button mat-button color="primary" routerLink="apply-validator">
      See more
    </button>
  </div>
</div>

<div class="section">
  <h2>Thank you, Kava team</h2>
  <p>
    Our project is a fork project of Kava. We want to contribute to Cosmos
    ecosystem and also Kava ecosystem.
  </p>
</div>

<div class="section">
  <h2>About us</h2>
  <p>
    The developer of JPYX, EURX blockchain is LCNEM, Inc. who is a leading
    technologist of Cosmos blockchain technologies in Japan.
  </p>
  <div fxLayout="row-reverse">
    <a mat-button color="primary" href="https://lcnem.com" target="_blank">
      See more
    </a>
  </div>

  <h3>Contributions</h3>
  <p>
    We've already done some little contributions to Cosmos ecosystems. We will
    continue to contribute to Cosmos ecosystem and also Kava ecosystem.
  </p>
  <ul>
    <li>
      <a
        href="https://github.com/cosmos-client/cosmos-client-ts"
        target="_blank"
      >
        cosmos-client
      </a>
    </li>
    <li>
      <a href="https://github.com/cosmos/scaffold" target="_blank">
        cosmos scaffold
      </a>
    </li>
    <li>
      <a href="https://github.com/cosmos/modules" target="_blank">
        cosmos modules
      </a>
    </li>
    <li>
      <a href="https://github.com/lcnem/proximax-pegzone" target="_blank">
        proximax-pegzone
      </a>
    </li>
  </ul>
</div>
<div class="section">
  <h2>Contact</h2>
  <p>
    To contact us in JPYX, EURX topic, please create an issue ticket in GitHub.
  </p>
  <div fxLayout="row-reverse" fxLayoutGap="12px">
    <a
      mat-flat-button
      color="primary"
      href="https://github.com/lcnem/jpyx/issues"
      target="_blank"
    >
      <img src="assets/images/github-circle-white-transparent.svg" />
      JPYX GitHub Issues
    </a>
    <a
      mat-flat-button
      color="primary"
      href="https://github.com/lcnem/eurx/issues"
      target="_blank"
    >
      <img src="assets/images/github-circle-white-transparent.svg" />
      EURX GitHub Issues
    </a>
  </div>
</div>
