<div class="heading" fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="100%" fxFlex.lt-md="75%">
    <h2>Stable coin on blockchain interoperability network</h2>
    <h3>Get rewards by being a validator</h3>
    <button
      mat-stroked-button
      fxFill
      color="primary"
      routerLink="apply-validator"
      style="padding: 32px"
    >
      Be a validator
    </button>
  </div>
</div>
<div class="section">
  <h2>JPYX Blockchain</h2>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="50%" fxFlex.xs="100%">
      <mat-card>
        <mat-card-header>
          <img mat-card-avatar src="assets/images/jasmine.svg" />
          <mat-card-title>Jasmine</mat-card-title>
          <mat-card-subtitle>$JSMN</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
    <div fxFlex="50%" fxFlex.xs="100%">
      <mat-card>
        <mat-card-header>
          <img mat-card-avatar src="assets/images/jpyx.svg" />
          <mat-card-title>JPYX</mat-card-title>
          <mat-card-subtitle>$JPYX</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</div>
<div class="section">
  <h2>EURX Blockchain</h2>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="50%" fxFlex.xs="100%">
      <mat-card>
        <mat-card-header>
          <img mat-card-avatar src="assets/images/eustoma.svg" />
          <mat-card-title>Eustoma</mat-card-title>
          <mat-card-subtitle>$ESTM</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
    <div fxFlex="50%" fxFlex.xs="100%">
      <mat-card>
        <mat-card-header>
          <img mat-card-avatar src="assets/images/eurx.svg" />
          <mat-card-title>EURX</mat-card-title>
          <mat-card-subtitle>$EURX</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</div>

<div class="section">
  <h2>Jasmine ($JSMN), Eustoma ($ESTM) token distribution</h2>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="50%" fxFlex.xs="100%">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Donation for Kava team</mat-card-title>
          <mat-card-subtitle>1%</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
    <div fxFlex="50%" fxFlex.xs="100%">
      <mat-card>
        <mat-card-header>
          <mat-card-title
            >Rewards for open source commitment to JPYX, EURX
            project</mat-card-title
          >
          <mat-card-subtitle>9%</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
    <div fxFlex="50%" fxFlex.xs="100%">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Assignment for development team</mat-card-title>
          <mat-card-subtitle>30%</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
    <div fxFlex="50%" fxFlex.xs="100%">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Assignment for validators</mat-card-title>
          <mat-card-subtitle>30%</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
    <div fxFlex="50%" fxFlex.xs="100%">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Assignment for business partners</mat-card-title>
          <mat-card-subtitle>30%</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</div>

<div class="section">
  <h2>Validators recruitment</h2>
  <p>
    We are taking applications for being a validator of JPYX, EURX. The end of
    this taking applications will be announced later.
  </p>
  <p>
    If you are elected as a validator after applied, you will be assigned some
    Jasmine ($JSMN), Eustoma ($ESTM) tokens.
  </p>
  <div fxLayout="row-reverse">
    <button
      mat-stroked-button
      fxFlex
      color="primary"
      routerLink="apply-validator"
      style="padding: 32px"
    >
      See more
    </button>
  </div>
</div>

<div class="section">
  <h2>Thank you, Kava team</h2>
  <p>
    Our project is a fork project of Kava. We want to contribute to Cosmos
    ecosystem and also Kava ecosystem.
  </p>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="100%">
      <a
        href="https://kava.io"
        target="_blank"
        matRipple
        style="display: block; text-decoration: none"
      >
        <mat-card>
          <mat-card-header>
            <img mat-card-avatar src="assets/images/kava.svg" />
            <mat-card-title>Kava</mat-card-title>
            <mat-card-subtitle>https://kava.io</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </a>
    </div>
  </div>
</div>

<div class="section">
  <h2>About us</h2>
  <p>
    The developer of JPYX, EURX blockchain is LCNEM, Inc. who is a leading
    technologist of Cosmos blockchain technologies in Japan.
  </p>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="100%">
      <a
        href="https://lcnem.com"
        target="_blank"
        matRipple
        style="display: block; text-decoration: none"
      >
        <mat-card>
          <mat-card-header>
            <img
              mat-card-avatar
              src="https://lcnem.com/assets/images/lcnem.svg"
            />
            <mat-card-title>LCNEM, Inc.</mat-card-title>
            <mat-card-subtitle>https://lcnem.com</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </a>
    </div>
  </div>

  <h3>Contributions</h3>
  <p>
    We've already done some little contributions to Cosmos ecosystems. We will
    continue to contribute to Cosmos ecosystem and also Kava ecosystem.
  </p>

  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="50%" fxFlex.xs="100%">
      <a
        href="https://github.com/cosmos-client/cosmos-client-ts"
        target="_blank"
        matRipple
        style="display: block; text-decoration: none"
      >
        <mat-card>
          <mat-card-header>
            <img
              mat-card-avatar
              src="assets/images/github-circle-white-transparent.svg"
            />
            <mat-card-title>cosmos-client</mat-card-title>
            <mat-card-subtitle>github.com</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </a>
    </div>
    <div fxFlex="50%" fxFlex.xs="100%">
      <a
        href="https://github.com/cosmos/scaffold"
        target="_blank"
        matRipple
        style="display: block; text-decoration: none"
      >
        <mat-card>
          <mat-card-header>
            <img
              mat-card-avatar
              src="assets/images/github-circle-white-transparent.svg"
            />
            <mat-card-title>cosmos scaffold</mat-card-title>
            <mat-card-subtitle>github.com</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </a>
    </div>
    <div fxFlex="50%" fxFlex.xs="100%">
      <a
        href="https://github.com/cosmos/modules"
        target="_blank"
        matRipple
        style="display: block; text-decoration: none"
      >
        <mat-card>
          <mat-card-header>
            <img
              mat-card-avatar
              src="assets/images/github-circle-white-transparent.svg"
            />
            <mat-card-title>cosmos modules</mat-card-title>
            <mat-card-subtitle>github.com</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </a>
    </div>
    <div fxFlex="50%" fxFlex.xs="100%">
      <a
        href="https://github.com/lcnem/proximax-pegzone"
        target="_blank"
        matRipple
        style="display: block; text-decoration: none"
      >
        <mat-card>
          <mat-card-header>
            <img
              mat-card-avatar
              src="assets/images/github-circle-white-transparent.svg"
            />
            <mat-card-title>proximax-pegzone</mat-card-title>
            <mat-card-subtitle>github.com</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </a>
    </div>
  </div>
</div>
<div class="section">
  <h2>Contact</h2>
  <p>
    To contact us in JPYX, EURX topic, please create an issue ticket in GitHub.
  </p>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="50%" fxFlex.xs="100%">
      <a
        href="https://github.com/lcnem/jpyx/issues"
        target="_blank"
        matRipple
        style="display: block; text-decoration: none"
      >
        <mat-card>
          <mat-card-header>
            <img
              mat-card-avatar
              src="assets/images/github-circle-white-transparent.svg"
            />
            <mat-card-title>JPYX GitHub Issues</mat-card-title>
            <mat-card-subtitle>github.com</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </a>
    </div>
    <div fxFlex="50%" fxFlex.xs="100%">
      <a
        href="https://github.com/lcnem/eurx/issues"
        target="_blank"
        matRipple
        style="display: block; text-decoration: none"
      >
        <mat-card>
          <mat-card-header>
            <img
              mat-card-avatar
              src="assets/images/github-circle-white-transparent.svg"
            />
            <mat-card-title>EURX GitHub Issues</mat-card-title>
            <mat-card-subtitle>github.com</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </a>
    </div>
  </div>
</div>
