<h2>CDP Withdraw</h2>
<form
  #formRef="ngForm"
  (submit)="
    onSubmit(
      privateKeyRef.value,
      ownerRef.value,
      collateralTypeRef.value,
      collateralDenomRef.value,
      collateralAmountRef.value,
      minimumGasPriceRef.value
    )
  ">
  <div>
    <mat-form-field class="w-full">
      <mat-label>Collateral Type</mat-label>
      <input #collateralTypeRef [(ngModel)]="collateralType" name="collateral-type" matInput readonly />
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Collateral Denom</mat-label>
      <input #collateralDenomRef [(ngModel)]="denom" name="collateral-denom" matInput readonly />
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Collateral Amount</mat-label>
      <input #collateralAmountRef [(ngModel)]="collateral_amount" name="collateral-amount" matInput type="number"
        pattern="^\d+$" [min]="1" required />
    </mat-form-field>
  </div>
  <mat-form-field class="w-full">
    <mat-label>Owner</mat-label>
    <input #ownerRef [(ngModel)]="owner" name="owner" matInput readonly />
  </mat-form-field>

  <h3 class="pt-3">Gas Settings</h3>
  <div class="flex flex-row content-content items-end">
    <mat-form-field class="flex-auto">
      <mat-label>Minimum Gas Denom</mat-label>
      <mat-select
        [(ngModel)]="selectedGasPrice && selectedGasPrice.denom"
        name="minimum-gas-denom"
        required
        (valueChange)="onMinimumGasDenomChanged($event)"
      >
        <mat-option *ngFor="let minimumGasPrice of minimumGasPrices" [value]="minimumGasPrice.denom">
          {{ minimumGasPrice.denom }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="flex-auto">
      <mat-label>Minimum Gas Price</mat-label>
      <input
        [(ngModel)]="selectedGasPrice && selectedGasPrice.amount"
        #minimumGasPriceRef
        name="minimum-gas-price"
        matInput
        type="number"
        [min]="0"
        required
      />
    </mat-form-field>
  </div>
  <mat-slider class="w-full"
    [max]="1"
    [min]="0"
    [step]="0.015"
    [(ngModel)]="selectedGasPrice && selectedGasPrice.amount"
    name="minimum-gas-price-slider"
  >
  </mat-slider>

  <h3 class="mt-3">Signer</h3>
  <mat-form-field class="w-full">
    <mat-label>ID</mat-label>
    <input #idRef type="text" name="id" [ngModel]="key?.id" autocomplete="username" matInput readonly />
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label>Private key</mat-label>
    <input #privateKeyRef ngModel type="password" name="privateKey" autocomplete="current-password" matInput required />
  </mat-form-field>
  <button mat-flat-button [disabled]="formRef.invalid" color="accent">Submit</button>
</form>
