<h1>Terms</h1>
<ul>
  <li>
    By agreeing to these Terms of Use, you also agree to the users data policy
    described below.
  </li>
  <li>We don't use users data for any purpose other than its intended use.</li>
  <li>When the purpose is completed, the users data is destroyed</li>
  <li>
    This terms shall be governed by the laws of Japan, and all disputes arising
    out of or related to the Terms and Conditions shall be subject to the
    exclusive jurisdiction of the Kyoto District Court as the court of first
    instance, and all arbitration cases arising out of or related to the Terms
    and Conditions shall be subject to the exclusive jurisdiction of the Kyoto
    District Court.
  </li>
  <li>
    In the event that the Company transfers the business of the Service to
    another company, the Company may transfer the status, rights and obligations
    under the Usage Agreement, information regarding usage history and other
    customer information to the transferee of such business, and the User shall
    be deemed to have agreed in advance to such transfer as described in this
    section. The term "business transfer" as used in this paragraph shall
    include a merger or demerger in which the Company becomes a dissolved or
    divested company. The term "business transfer" as used in this paragraph
    shall include a merger in which the Company is dissolved or a split company,
    or a comprehensive succession through a company split, etc.
  </li>
</ul>
