/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  background-image: url(./assets/images/circle-animation.svg);
  background-position: 50%;
  background-repeat: repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.75);
  background-blend-mode: lighten;
}

mat-toolbar.toolbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 4;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 16px;
}

.icon {
  padding: 4px;
  min-width: 0;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  line-height: 40px;
  border-radius: 50%;
}
