<ng-container *ngIf="cdp === null; then empty; else exist"> </ng-container>
<ng-template #loading>
  <mat-progress-spinner
    [diameter]="60"
    [mode]="'indeterminate'"
  ></mat-progress-spinner>
</ng-template>
<ng-template #exist>
  <mat-nav-list>
    <h3 matSubheader>CDP</h3>
  </mat-nav-list>

  <div class="container">
    <div>
      <mat-card>
        <mat-card-content class="info-container">
          <mat-list>
            <mat-list-item>
              <div
                class="column-container"
                fxLayout="row"
                fxLayoutAlign="space-between"
              >
                <span class="column-name">Owner: </span>
                <span class="column-value">{{ owner }}</span>
              </div>
              <mat-divider [inset]="true"></mat-divider>
            </mat-list-item>

            <mat-list-item>
              <div
                class="column-container"
                fxLayout="row"
                fxLayoutAlign="space-between"
              >
                <span class="column-name">Collateral: </span>
                <span class="column-value"
                  >{{ cdp?.cdp?.collateral?.amount }}
                  {{ cdp?.cdp?.collateral?.denom }}
                  <ng-template [ngIf]="!!withdrawLimit">
                    (Available: {{ withdrawLimit }}
                    {{ cdp?.cdp?.collateral?.denom }})
                  </ng-template>
                </span>
              </div>
            </mat-list-item>

            <mat-list-item>
              <div
                class="column-container"
                fxLayout="row"
                fxLayoutAlign="space-between"
              >
                <span class="column-name"></span>
                <span class="column-value">
                  <a
                    mat-stroked-button
                    href="/botany/cdps/{{ owner }}/{{ denom }}/deposit"
                    target="_blank"
                    >Deposit</a
                  >
                  <a
                    class="withdraw-button"
                    mat-stroked-button
                    href="/botany/cdps/{{ owner }}/{{ denom }}/withdraw"
                    target="_blank"
                    >Withdraw</a
                  >
                </span>
              </div>
              <mat-divider [inset]="true"></mat-divider>
            </mat-list-item>

            <mat-list-item>
              <div
                class="column-container"
                fxLayout="row"
                fxLayoutAlign="space-between"
              >
                <span class="column-name">Principal: </span>
                <span class="column-value"
                  >{{ cdp?.cdp?.principal?.amount }}
                  {{ cdp?.cdp?.principal?.denom }}
                  <ng-template [ngIf]="!!issueLimit">
                    (Available: {{ issueLimit }}
                    {{ cdp?.cdp?.principal?.denom }})
                  </ng-template>
                </span>
              </div>
            </mat-list-item>

            <mat-list-item>
              <div
                class="column-container"
                fxLayout="row"
                fxLayoutAlign="space-between"
              >
                <span class="column-name"></span>
                <span class="column-value">
                  <a
                    mat-stroked-button
                    href="/botany/cdps/{{ owner }}/{{ denom }}/issue"
                    target="_blank"
                    >Issue</a
                  >
                  <a
                    class="clear-button"
                    mat-stroked-button
                    href="/botany/cdps/{{ owner }}/{{ denom }}/clear"
                    target="_blank"
                    >Clear</a
                  >
                </span>
              </div>
              <mat-divider [inset]="true"></mat-divider>
            </mat-list-item>

            <mat-list-item>
              <div
                class="column-container"
                fxLayout="row"
                fxLayoutAlign="space-between"
              >
                <span class="column-name">Fees: </span>
                <span class="column-value"
                  >{{ cdp?.cdp?.accumulated_fees?.amount }}
                  {{ cdp?.cdp?.accumulated_fees?.denom }}</span
                >
              </div>
              <mat-divider [inset]="true"></mat-divider>
            </mat-list-item>
            <mat-list-item>
              <div
                class="column-container"
                fxLayout="row"
                fxLayoutAlign="space-between"
              >
                <span class="column-name"> Fees Updated </span>
                <span class="column-value">
                  {{ cdp?.cdp?.fees_updated }}
                </span>
              </div>
              <mat-divider [inset]="true"></mat-divider>
            </mat-list-item>
            <mat-list-item>
              <div
                class="column-container"
                fxLayout="row"
                fxLayoutAlign="space-between"
              >
                <span class="column-name">Spot Price: </span>
                <span class="column-value"
                  >{{ spotPrice?.price }} [{{ spotPrice?.market_id }}]</span
                >
              </div>
              <mat-divider [inset]="true"></mat-divider>
            </mat-list-item>
            <mat-list-item>
              <div
                class="column-container"
                fxLayout="row"
                fxLayoutAlign="space-between"
              >
                <span class="column-name">Liquadation Price: </span>
                <span class="column-value"
                  >{{ liquidationPrice?.price }} [{{
                    liquidationPrice?.market_id
                  }}]</span
                >
              </div>
              <mat-divider [inset]="true"></mat-divider>
            </mat-list-item>
            <mat-list-item>
              <div
                class="column-container"
                fxLayout="row"
                fxLayoutAlign="space-between"
              >
                <span class="column-name">Collateralization Ratio: </span>
                <span class="column-value">{{
                  cdp?.collateralization_ratio
                }}</span>
              </div>
              <mat-divider [inset]="true"></mat-divider>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>

      <div class="deposit-container">
        <h4>Deposits</h4>
        <mat-card>
          <mat-card-content>
            <mat-list *ngFor="let deposit of deposits">
              <div
                class="column-container"
                fxLayout="row"
                fxLayoutAlign="space-between"
              >
                <span class="column-name">{{ deposit.depositor }}</span>
                <span class="column-value"
                  >{{ deposit.amount?.amount }}
                  {{ deposit.amount?.denom }}</span
                >
              </div>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #empty>
  <p class="empty">There is no cdp</p>
</ng-template>
