<div fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="50%" fxFlex.lt-md="75%">
    <h2>Get rewards by being validators</h2>
    <button mat-flat-button color="primary" routerLink="apply-validator">
      To be a validator
    </button>
  </div>
  <img
    fxFlex="50%"
    fxFlex.lt-md="25%"
    class="heading-img"
    src="assets/images/jasmine.svg"
  />
</div>
<h2>What is JPYX?</h2>
<p>
  JPYX is a "stable coin" in Cosmos Network. The price of JPYX is nearly equal
  to that of JPY. The mechanism of stable coin is same to that of USDX in Kava
  blockchain.
</p>
<h2>What is Jasmine ($JSMN) ?</h2>
<p>
  Jasmine ($JSMN) is a utility token for governance or commission used in JPYX
  blockchain.
</p>
<h2>Thank you, Kava team</h2>
<p>
  Our project is a fork project of Kava. We want to contribute to Cosmos
  ecosystem and also Kava ecosystem.
</p>
<h2>Jasmine ($JSMN) token distribution</h2>
<p>
  We absolutely do not do initial coin offerings or token sales. Every token
  will be distributed in return of your actions like being a validator.
</p>
<table class="table">
  <tr>
    <th>Usage</th>
    <th>Percentage of usage / supply</th>
  </tr>
  <tr>
    <td>Donation for Kava team</td>
    <td>1%</td>
  </tr>
  <tr>
    <td>Rewards for open source commitment to JPYX project</td>
    <td>9%</td>
  </tr>
  <tr>
    <td>Assignment for JPYX team</td>
    <td>30%</td>
  </tr>
  <tr>
    <td>Assignment for validators</td>
    <td>30%</td>
  </tr>
  <tr>
    <td>Assignment for business partners</td>
    <td>30%</td>
  </tr>
</table>
<h2>Validators recruitment</h2>
<p>
  We are taking applications for being a validator of JPYX. The end of this
  taking applications will be announced later.
</p>
<p>
  If you are elected as a validator after applied, you will be assigned some
  Jasmine ($JSMN) tokens.
</p>
<div fxLayout="row-reverse">
  <button mat-button color="primary" routerLink="apply-validator">
    See more
  </button>
</div>
<h2>About us</h2>
<p>
  The developer of JPYX blockchain is LCNEM, Inc. who is a leading technologist
  of Cosmos blockchain technologies in Japan.
</p>
<div fxLayout="row-reverse">
  <a mat-button color="primary" href="https://lcnem.com" target="_blank">
    See more
  </a>
</div>
<h3>Contributions</h3>
<p>
  We've already done some little contributions to Cosmos ecosystems. We will
  continue to contribute to Cosmos ecosystem and also Kava ecosystem. We also
  created <a href="https://eurx.lcnem.com" target="_blank">EURX</a>
  blockchain in the way that can give merits to Kava ecosysmtem.
</p>
<ul>
  <li>
    <a href="https://github.com/cosmos-client/cosmos-client-ts" target="_blank">
      cosmos-client
    </a>
  </li>
  <li>
    <a href="https://github.com/cosmos/scaffold" target="_blank">
      cosmos scaffold
    </a>
  </li>
  <li>
    <a href="https://github.com/cosmos/modules" target="_blank">
      cosmos modules
    </a>
  </li>
  <li>
    <a href="https://github.com/lcnem/proximax-pegzone" target="_blank">
      proximax-pegzone
    </a>
  </li>
</ul>
<h2>Contact</h2>
<p>To contact us in JPYX topic, please create an issue ticket in GitHub.</p>
<div fxLayout="row-reverse">
  <a
    mat-flat-button
    color="primary"
    href="https://github.com/lcnem/jpyx/issues"
    target="_blank"
  >
    <img src="assets/images/github-circle-white-transparent.svg" />
    GitHub Issues
  </a>
</div>
