<p>faucet</p>

<!--want ubtc/ujsmn/jpyx input form-->
<form [formGroup]="form" (submit)="submit(form)">
  <!--<form [formGroup]="form" (submit)="onPostFaucetRequested($event)">-->
  <div>
    <label>
      address
      <input mat-input type="text" formControlName="addressForm" />
    </label>
    <ng-container *ngIf="addressForm.invalid && (addressForm.touched || addressForm.dirty)">
      <p *ngIf="addressForm.hasError('required')">required</p>
    </ng-container>
  </div>

  <div>
    <label>
      ubtc
      <input mat-input type="text" formControlName="ubtcForm" />
    </label>
    <ng-container *ngIf="ubtcForm.invalid && (ubtcForm.touched || ubtcForm.dirty)">
      <p *ngIf="ubtcForm.hasError('required')">required</p>
      <p *ngIf="ubtcForm.hasError('rangeValidator')">less than 10</p>
      <p *ngIf="ubtcForm.hasError('numberValidator')">only number</p>
    </ng-container>
  </div>

  <div>
    <label>
      jsmn
      <input mat-input type="text" formControlName="ujsmnForm" />
    </label>
    <ng-container *ngIf="ujsmnForm.invalid && (ujsmnForm.touched || ujsmnForm.dirty)">
      <p *ngIf="ujsmnForm.hasError('required')">required</p>
      <p *ngIf="ujsmnForm.hasError('rangeValidator')">less than 10</p>
      <p *ngIf="ujsmnForm.hasError('numberValidator')">only number</p>
    </ng-container>
  </div>

  <div>
    <label>
      jpyx
      <input mat-input type="text" formControlName="jpyxForm" />
    </label>
    <ng-container *ngIf="jpyxForm.invalid && (jpyxForm.touched || jpyxForm.dirty)">
      <p *ngIf="jpyxForm.hasError('required')">required</p>
      <p *ngIf="jpyxForm.hasError('rangeValidator')">less than 10</p>
      <p *ngIf="jpyxForm.hasError('numberValidator')">only number</p>
    </ng-container>
  </div>

  <div>
    <button [disabled]="form.invalid" type="submit">send</button>
  </div>
</form>
