<view-create
  [key]="key$ | async"
  [cdpParams]="cdpParams$ | async"
  [collateralParams]="collateralParams$ | async"
  [selectedCollateralType]="selectedCollateralType$ | async"
  [selectedCollateralParam]="selectedCollateralParam$ | async"
  [minimumGasPrices]="minimumGasPrices"
  [balances]="balances$ | async"
  [collateralLimit]="collateralLimit$ | async"
  [principalLimit]="principalLimit$ | async"
  [cdp]="cdp$ | async"
  (appSubmit)="onSubmit($event)"
  (appSelectedCollateralTypeChanged)="onSelectedCollateralTypeChanged($event)"
  (appCollateralAmountChanged)="onCollateralAmountChanged($event)"
></view-create>
