<header>
  <div id="hdr-box">
    <div id="logo">
      <a href="/"><img src="assets/images/logo.svg" /></a>
    </div>
    <nav>
      <ul id="nav-01">
        <li><a href="/">Home</a></li>
        <li><a href="https://ununifi.gitbook.io/ununifi-protocol/">For Developer</a></li>
        <li><a href="http://a.test.ununifi.cauchye.net">Testnet Explorer & Wallet</a></li>
      </ul>
      <ul id="nav-02">
        <li>
          <a href="assets/download/UnUniFi-Whitepaper.pdf" download><span>White paper</span></a>
        </li>
        <li>
          <a href="assets/download/UnUniFi-OnePage.pdf" download><span>One Page</span></a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div id="contents">
  <section id="mv">
    <h1>
      <span class="fw-n"
        >Decentralized cross-chain <br />
        NFT marketplace/ platform <br />
        with auto DeFi yield</span
      >
    </h1>
    <p>
      UnUniFi Protocol is a decentralized finance(DeFi) platform <br />
      that provides tools and features that allow users to create a <br />
      collateralized deposit position,<br />
      to synthesize a number of assets pegged to legal currency <br />
      using NFTs and cryptocurrencies as collateral. <br />
      As long as your NFTs are pledged as collateral, <br />
      some rewards will come in on their own through <br />
      the automatic DeFi of the issued stablecoins.<br />
      The mission is “Give all NFTs the opportunity to DeFi”.
    </p>
  </section>

  <section id="s-01">
    <div>
      <ul>
        <li class="guu-box">
          <p>$GUU</p>
          <span>GUU is a governance token of UnUniFi Protocol</span>
        </li>
        <li class="jpu-box">
          <p>$JPU</p>
          <span>JPU is a Stablecoin pegged to JPY on UnUniFi Protocol</span>
        </li>
      </ul>
    </div>

    <div>
      <ul>
        <li class="euu-box">
          <p>$EUU</p>
          <span>EUU is a Stablecoin pegged to EUR on UnUniFi Protocol</span>
        </li>
        <li class="usu-box">
          <p>$USU</p>
          <span>USU is a Stablecoin pegged to USD on UnUniFi Protocol</span>
        </li>
      </ul>
    </div>
  </section>

  <section id="s-02">
    <div>
      <h2><span class="fc-guu">GUU ($GUU) </span>token distribution</h2>
      <ul>
        <li>
          <h3>Ecosystem Development</h3>
          <p>30%</p>
        </li>
        <li>
          <h3>Assingnment for Validators</h3>
          <p>15%</p>
        </li>
        <li>
          <h3>Assignment for UnUniFi team</h3>
          <p>20%</p>
        </li>
        <li>
          <h3>Marketing</h3>
          <p>14%</p>
        </li>
        <li>
          <h3>Treasury</h3>
          <p>10%</p>
        </li>
        <li>
          <h3>Advisor</h3>
          <p>1%</p>
        </li>
        <li>
          <h3>Assignment for Business Partners</h3>
          <p>10%</p>
        </li>
      </ul>
    </div>
  </section>

  <section id="s-03">
    <div class="lcnem-box">
      <h2>About us</h2>
      <p>
        The UnUniFi Protocol is owned by Botany LLP (Yu Kimura, Takeru Shimojima, Kenji Yanagisawa).
      </p>
      <ul>
        <li class="kimura-san-box">
          <span
            >Yu Kimura<br />
            CEO CTO<br />
            Botany LLP<br />
            CauchyE, Inc.</span
          >
        </li>
        <li class="shimojima-san-box">
          <span
            >Takeru Shimojima<br />
            COO CFO<br />
            Botany LLP<br />
            CauchyE, Inc.</span
          >
        </li>
        <li class="yanagisawa-san-box">
          <span>
            Kenji Yanagisawa<br />
            Certified Public Tax Account(Japan)<br />

            Botany LLP<br />
            Yanagisawa and Company</span
          >
        </li>
      </ul>
    </div>

    <div>
      <h2>Contributions</h2>
      <p>
        We've already done some little contributions to Cosmos ecosystems. We will continue to
        contribute to Cosmos ecosystem and also Kava ecosystem.
      </p>
      <ul>
        <li>
          <a href="https://github.com/cosmos-client/cosmos-client-ts" target="_blank">
            <h3>cosmos-client</h3>
            <p>github.com</p>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <section id="s-04">
    <div>
      <h2>Contact</h2>
      <p>To contact us in UnUniFi topic, please create an issue ticket in GitHub.</p>
      <ul>
        <li>
          <a href="https://github.com/UnUniFi/chain/issues" target="_blank">
            <h3>UnUniFi/chain GitHub Issues</h3>
            <p>github.com</p>
          </a>
        </li>
        <li>
          <a href="https://github.com/UnUniFi/utils/issues" target="_blank">
            <h3>UnUniFi/utils GitHub Issues</h3>
            <p>github.com</p>
          </a>
        </li>
      </ul>
    </div>
  </section>
</div>

<footer>
  <p><span>&copy; 2021 UnUniFi All rights reserved.</span></p>
</footer>
