<header>
  <div id="hdr-box">
    <!--  <div id="logo"><a href="/"><span>JPYX, EURX</span><img src="/images/logo.svg" class="icon"></a></div> -->
    <div id="logo"><a href="/"><span>JPYX, EURX</span><img src="assets/images/logo.svg"></a></div>
    <nav>
      <ul id="nav-01">
        <li><a href="/">Home</a></li>
        <li><a href="/docs">Documentation</a></li>
      </ul>

      <ul id="nav-02">
        <li><a href="https://github.com/lcnem/jpyx"><span>JPYX GitHub</span></a></li>
        <li><a href="https://github.com/lcnem/eurx"><span>EURX GitHub</span></a></li>
      </ul>

      <p id="nav-btn"><a href="/apply-validator">Apply validator</a></p>
    </nav>
  </div>
</header>

<div id="contents">

  <section id="mv">
    <h1>
      <span class="fw-n">JPYX, EURX is </span>
      <span>Stable coin on blockchain </span>
      <span>interoperability network</span>
    </h1>
    <p>Get rewards by being a validator</p>
    <p class="mv-btn"><a href="/apply-validator">Be a validator</a></p>
  </section>

  <section id="s-01">
    <div class="jpyx-box">
      <h2>JPYX Blockchain</h2>
      <ul>
        <li>
          <h3>Jasmine</h3>
          <p>$JSMN</p>
        </li>
        <li>
          <h3>JPYX</h3>
          <p>$JPYX</p>
        </li>
      </ul>
    </div>

    <div class="eurx-box">
      <h2>EURX Blockchain</h2>
      <ul>
        <li>
          <h3>Eustoma</h3>
          <p>$ESTM</p>
        </li>
        <li>
          <h3>EURX</h3>
          <p>$EURX</p>
        </li>
      </ul>
    </div>
  </section>

  <section id="s-02">
    <div>
      <h2><span class="fc-jpyx">Jasmine ($JSMN), </span><span class="fc-eurx">Eustoma ($ESTM) </span>token
        distribution</h2>
      <ul>
        <li>
          <h3>Donation for Kava team</h3>
          <p>1%</p>
        </li>
        <li>
          <h3>Rewards for open source commitment to JPYX, EURX project</h3>
          <p>9%</p>
        </li>
        <li>
          <h3>Assignment for development team</h3>
          <p>30%</p>
        </li>
        <li>
          <h3>Assignment for validators</h3>
          <p>30%</p>
        </li>
        <li>
          <h3>Assignment for business partners</h3>
          <p>30%</p>
        </li>
      </ul>
    </div>
  </section>

  <section id="s-03">
    <div>
      <h2>Validators recruitment</h2>
      <p>We are taking applications for being a validator of JPYX, EURX. The end of this taking applications will be
        announced later.<br />
        If you are elected as a validator after applied, you will be assigned some Jasmine ($JSMN), Eustoma ($ESTM)
        tokens.</p>
      <p class="etc-btn"><a href="/apply-validator">See more</a></p>
    </div>

    <div class="kava-box">
      <h2>Thank you, Kava team</h2>
      <p>Our project is a fork project of Kava. We want to contribute to Cosmos ecosystem and also Kava ecosystem.</p>
      <ul>
        <li>
          <a href="https://kava.io/" target="_blank">
            <h3>Kava</h3>
            <p>https://kava.io</p>
          </a>
        </li>
      </ul>
    </div>

    <div class="lcnem-box">
      <h2>About us</h2>
      <p>The developer of JPYX, EURX blockchain is LCNEM, Inc. who is a leading technologist of Cosmos blockchain
        technologies in Japan.</p>
      <ul>
        <li>
          <a href="https://lcnem.com/" target="_blank">
            <h3>LCNEM, Inc.</h3>
            <p>https://lcnem.com</p>
          </a>
        </li>
      </ul>
    </div>

    <div>
      <h2>Contributions</h2>
      <p>We've already done some little contributions to Cosmos ecosystems. We will continue to contribute to Cosmos
        ecosystem and also Kava ecosystem.</p>
      <ul>
        <li>
          <a href="https://github.com/cosmos-client/cosmos-client-ts" target="_blank">
            <h3>cosmos-client</h3>
            <p>github.com</p>
          </a>
        </li>
        <li>
          <a href="https://github.com/cosmos/scaffold" target="_blank">
            <h3>cosmos scaffold</h3>
            <p>github.com</p>
          </a>
        </li>
        <li>
          <a href="https://github.com/cosmos/modules" target="_blank">
            <h3>cosmos modules</h3>
            <p>github.com</p>
          </a>
        </li>
        <li>
          <a href="https://github.com/lcnem/proximax-pegzone" target="_blank">
            <h3>proximax-pegzone</h3>
            <p>github.com</p>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <section id="s-04">
    <div>
      <h2>Contact</h2>
      <p>To contact us in JPYX, EURX topic, please create an issue ticket in GitHub.</p>
      <ul>
        <li>
          <a href="https://github.com/lcnem/jpyx/issues" target="_blank">
            <h3>JPYX GitHub Issues</h3>
            <p>github.com</p>
          </a>
        </li>
        <li>
          <a href="https://github.com/lcnem/eurx/issues" target="_blank">
            <h3>EURX GitHub Issues</h3>
            <p>github.com</p>
          </a>
        </li>
      </ul>
    </div>
  </section>

</div>

<footer>
  <p><span>&copy; 2021 JPYX, EURX. All rights reserved.</span></p>
</footer>